<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Perfect Web2</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=fd529bac1eece22bd888292a3a7f1f3f">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css?h=0692f36eb27607e4837760bbbf813d92">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css?h=0692f36eb27607e4837760bbbf813d92">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css?h=0692f36eb27607e4837760bbbf813d92">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css?h=0692f36eb27607e4837760bbbf813d92">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css?h=7758718a758c80619d78f53da0a9cb28">
<script src="https://kit.fontawesome.com/cec80f6034.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-capitalize">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="background-image: url(&quot;/assets/img/perfectLogo-removebg-preview.png?h=b33b73ccc87fd8f071de2cfdf2d3ea31&quot;);margin-right: 0px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><i class="fa fa-bars" style="color: #ffffff;font-size: 25px;"></i></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" data-aos-once="true" href="#" style="font-family: Aleo, serif;">Contact us</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="d-block" style="height: 100vh;width: 98vw;margin-top: 5vh;">
        <section class="text-center" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" data-aos-once="true" id="presec" style="margin: 5vh;">
            <h1 style="font-size: 5vh;color: #ffffff;font-family: Aleo, serif;">Beautifully made websites tailored for your needs.</h1>
        </section>
        <section data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" data-aos-once="true" id="sec1" class="sec"></section>
    </div>
    <div class="d-block divsec" id="aaa" style="margin-bottom: 15vh;">
        <section style="/*margin-top: -2%;*/position: relative;/*margin-bottom: 10vh;*//*height: 100%;*/">
            <h1 class="text-capitalize text-center d-block" style="color: rgb(255,255,255);font-family: Aleo, serif;font-size: calc(16px + 5vh);margin-bottom: 10%;">Responsive.</h1>
            <div class="container d-block"><img data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800" data-aos-once="true" id="tablet" src="/assets/img/tablet%20with%20web2.png?h=27dc3236e1a480c2b93f5e96eeb94b62" width="20%"><img data-aos="slide-up" data-aos-duration="1000" data-aos-delay="300" data-aos-once="true" id="laptop"
                    src="/assets/img/laptop%20with%20web3.1.png?h=e15db446450fda3348649cfa46935e4e" width="67.5%"><img data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1600" data-aos-once="true" src="/assets/img/iphone-web2.png?h=5429cf9d61f72cfacf18464f92873add" width="12%"></div>
            <h3 class="text-center d-block" style="color: #d5d5d5;font-family: Aleo, serif;font-size: calc(16px + 3vh);margin-top: 5%;">Looks great on every device.</h3>
        </section>
    </div>
    <div class="d-block divsec" style="margin-bottom: 20vh;">
        <section>
            <h3 class="text-center" style="color: rgb(255,255,255);font-family: Aleo, serif;font-size: calc(10px + 4vh);"><br>Full-stack development using the best tools for the job.<br><br></h3>
            <div class="container" style="margin: 0 auto;">
                <p class="text-center" style="color: rgb(255,255,255);font-family: Aleo, serif;"></p>
                <p class="text-lowercase text-center" style="font-family: Aleo, serif;font-size: calc(16px + 1vh);color: rgba(255,255,255,0.79);margin-right: 18px;margin-left: 18px;">Fluid custom-made websites made for wide range of devices.<br>Design of your choice.<br>Easy to use administration panel for your website.<br><br></p>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col"><i class="fab fa-node-js float-right" style="color: rgb(255,255,255);font-size: 64px;"></i></div>
                    <div class="col"><i class="fab fa-css3-alt" style="color: rgb(255,255,255);font-size: 64px;"></i></div>
                    <div class="col"><i class="fab fa-html5 float-left" style="font-size: 64px;color: rgb(255,255,255);"></i></div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col"><i class="fab fa-node float-right" style="color: rgb(255,255,255);font-size: 64px;"></i></div>
                    <div class="col" style="margin-right: 50px;"><img src="/assets/img/iconfinder-icon3.png?h=b8ce495f8f51b0a41c55f7332124e966" style="color: rgb(255,255,255);font-size: 64px;margin-left: 27px;height: 50px;/*margin-bottom: auto;*/margin-top: 6px;"></div>
                </div>
            </div>
            <div class="row" style="margin-left: 0;margin-right: 0;">
                <div class="col"><i class="fab fa-bootstrap"></i></div>
            </div>
        </section>
    </div>
    <div class="d-block divsec">
        <section class="td-form">
            <div class="row td-form-wrapper">
                <div class="col td-glass">
                    <form class="td-form-wrapper">
                        <h1 class="text-center">Contact Us</h1>
                        <div class="form-group">
                            <div class="col-md-12"><label for="name">Your Name *</label>
                                <div class="d-flex"><i class="icon ion-person align-self-center"></i><input class="form-control d-flex" type="text" autocomplete="off" name="name" required="" placeholder="Name"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><label for="email">Email Address *</label>
                                <div class="d-flex"><i class="icon ion-ios-email align-self-center"></i><input class="form-control" type="text" autocomplete="off" name="email" required="" placeholder="example@mail.com" inputmode="email"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><label for="subject">Subject: * </label>
                                <div class="d-flex td-input-container"><i class="icon ion-ios-information align-self-center"></i><input class="form-control" type="text" autocomplete="off" placeholder="Subject" name="subject" required=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><label for="message">Message Details *</label>
                                <div class="d-flex td-input-container"><i class="icon ion-android-create align-self-center"></i><textarea class="form-control" placeholder="How can we help you?" name="message" rows="6" cols="50" required=""></textarea></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><button class="btn btn-dark float-right" type="submit">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script src="/assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="/assets/js/script.min.js?h=2a0d40cabb24d9b4a16bf3644a15df35"></script>
</body>

</html>